@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9a9d5;
}

h1 {
  font-family: 'Cabin', sans-serif;
}

::-moz-selection {
  color: black;
  background-color: white;
}

::selection {
  color: black;
  background-color: white;
}

// * {
//   border: 1px red solid;
// }
